{% extends 'base.html.twig' %}

{% block title %}Business Idea{% endblock %}

{% block body %}

  {% for label, messages in app.flashes %}
    {% for message in messages %}
      <div class="alert alert-{{ label }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endfor %}

  <div class="mt-4">

    <div class="bg-success rounded-lg p-3">
      <i>Welcome <b>{{ app.user.firstName }}.</b> In this page, you can find your company's business idea.
      Only senior managers are allowed to modify the business idea.</i>
    </div>

    {% set id=null %}
    {% set delta="" %}
    {% if app.user.company is not null %}
       {% set id = app.user.company.id %}
       {%  set delta = app.user.company.delta %}
    {% endif %}

    <div class="mt-3 border border-grey rounded-lg">
      {% include('@includes/editor.html.twig') with {
        initialText:'Please enter a business idea to activate other sections!!.
                    You can insert images and videos here as well.',
        actionPath:'/home',
        deltaType:'company',
        id:id,
        delta:delta
         }
      %}
    </div>

  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset("js/editor.js") }}"></script>
{% endblock %}
